{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "quoteProps": "consistent"
}
